<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>Book Database</title>
</head>

<body>
    <h1>All Books</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Action</th>
        </tr>
        {% for book in all_books %}
        <tr>
            <td>
                <a href="{{ url_for('view_book', title=book['title']) }}">{{ book['title'] }}</a>

            </td>
            <td>

                <!-- <div class="container">
                    <a class="button" href="{{ url_for('delete_book', title=book['title']) }}" class="confirm-delete"
                        onclick="return confirm('Are you sure you want to delete {{ book['title'] }}?')">
                        <div class="plate"></div>
                        <div class="plate"></div>
                        <div class="plate"></div>
                        <div class="plate"></div>
                        <div class="plate"></div>
                        <div class="button__wrapper">
                            <span class="button__text">Delete</span>
                        </div>
                        <div class="button__box">
                            <div class="inner inner__top"></div>
                            <div class="inner inner__front"></div>
                            <div class="inner inner__bottom"></div>
                            <div class="inner inner__back"></div>
                            <div class="inner inner__left"></div>
                            <div class="inner inner__right"></div>
                        </div>
                    </a>
                </div> -->

                <a href="{{ url_for('delete_book', title=book['title']) }}" class="confirm-delete"
                    onclick="return confirm('Are you sure you want to delete {{ book['title'] }}?')">Delete</a>

            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('add_book') }}">Add a Book</a>
</body>

</html>