<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>View Book</title>
</head>

<body>
    <h1>Specific Book</h1>
    {% if specific_book %}
    <table>
        <tr>
            <th>Title</th>
            <td>{{ specific_book['title'] }}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{ specific_book['author'] }}</td>
        </tr>
        <tr>
            <th>Publication Year</th>
            <td>{{ specific_book['publication_year'] }}</td>
        </tr>
    </table>

    {% else %}
    <p>Book not found!</p>
    {% endif %}
    <a href="{{ url_for('index') }}">Back to All Books</a>

</body>

</html>